<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Site</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="assets/css/profilebox.css">
</head>

<body>
    <div style="height: 100vh;background-image: url(&quot;https://getwallpapers.com/wallpaper/full/f/9/d/508720.jpg&quot;);background-repeat: no-repeat;background-attachment: fixed;background-size: cover;/*box-shadow: 0 0 8px 8px white inset;*/">
        <div style="flex-direction: column;justify-content: center;align-items: center;/*text-align: center;*//*line-height: 100%;*/height: auto;display: flex;margin: auto;width: 75%;height: 100%;">
            <div class="text-center border rounded border-1 border-dark shadow-sm profile-box" style="width: 300px;height: 300px;background-color: #ffffff;margin: 5px;">
                <div style="height: 50px;background-image: url(&quot;assets/img/bg-pattern.png&quot;);background-color: rgba(54,162,177,0);"></div>
                <div></div>
                <div style="height: 80px;">
                    <h4>API Access</h4>
                    <p style="font-size: 12px;">Welcome {{ user }}</p>
                    <p style="font-size: 12px;margin-bottom: 9px;">Your API Token is:</p>
                    <p style="font-size: 12px;margin-bottom: 0px;"><strong>{{ api_token }}</strong></p>
                    <p style="font-size: 12px;margin-bottom: 0px;margin-top: 50px;">Click Here for<br>Documentation</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>